#.dockerignore
.idea
.git
.github
.dockerignore
.gitignore
*.yml
Dockerfile*
Makefile
README.md
test
@tmp
**/.env
**/.env*

**/.nuxt
**/.output
**/data
**/.nitro
**/.cache
**/dist

**/node_modules


Dockerfile
*.env*
*.pem
*.crt
*.key
